---
interface Props {
  toCopy: string;
}
const { toCopy } = Astro.props;

export const copyToClipboard = async () => {
  try {
    await navigator.clipboard.writeText(toCopy);
  } catch (error) {
    console.error("Error al copiar al portapapeles:", error);
  }
};


document.addEventListener("DOMContentLoaded", () => {
  const copyButton = document.getElementById("copy-button");
  if (copyButton) {
    copyButton.addEventListener("click", () => {
      copyToClipboard();
    });
  }
});
---

<!-- src/components/CopyToClipboard.astro -->
<button id="copy-button"> Copiar SHA </button>

<!-- Cargamos el script del lado del cliente -->
<script src="/src/scripts/copyToClipboard.js" defer></script>
